 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Nilo Siqueira</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Nascido em 14 de agosto de 1984, Analista de Sistemas, brasileiro, programador, entusiasta apaixonado por 
                     desenvolvimento web. Desenvolve para a Web desde 2016. Formou-se em Manutenção de Computadores pelo FAETEC, 
                     graduou-se como Tecnólogo em Análise e desenvolvimentos de Sistemas pela Universidade Norte do Paraná.
                     Iniciou sua carreira profissional na Empresa El Shadai Prestando Suporte ao Cliente e para Empresas da Região 
                     de Resende RJ.
                     Com a conclusão de sua Graduação optou por ingressar na área de programação. 
                </div>
                <div class="col-lg-4">
                    <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point! </p>
             </div>   
            </div>
        </div>
    </section>
